<div class="container">
  <%= simple_form_for [@user, @booking] do |f| %>
    <div class="container_one">
      <%= f.input :start_on, as: :date %>
      <%= f.input :end_on, as: :date %>
      <%= f.submit "Book", class: "btn btn-ghost rent" %>
    </div>
  <% end %>
</div>
