<div>
  <h1>See all the boards</h1>
</div>

<div class="button">
  <%= link_to "Home", root_path %>
</div>

<div class="button">
  <%= link_to "Add your board", new_board_path %>
</div>

<div class="button">
  <%= link_to "Select a board", board_path %>
</div>
